@{
    ViewData["Title"] = "Home page";
}


<div class="container-fluid h-100 mt-5">
    <div class="row justify-content-center h-100">
        <div class="col-md-10 col-xl-9 col-sm-12 chat">
            <div class="home card p-4">

                <div class="card-body">
                    <h3 class="text-center">Welcome to the chat room</h3>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-md-10 col-lg-8">
                        <div class="input-group">
                            <input name="username" class="form-control type_msg home" placeholder="Enter your username to join room" /><br /><br /><br /><br />
                            <button type="submit" class="btn btn-primary w-100">Join Room</button>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>